<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{/css/main.css}" rel="stylesheet">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body class="d3-dark-primary">
	<!-- Top Bar -->
	<div th:include="_layout/navbar :: #navigationFragment"></div>
	<br />

	<div class="row sidePadding" style="padding: 30px 20px; margin: auto;">
		<div class="col-3"></div>
		<div class="col-6 d3Card-fullscreen d3-dark-secondary">
			<br />
			<h1 class="text-center">Articles written by you</h1>
			<hr/>
			<div class="row sidePadding">
				<th:block th:each="post : ${posts}">
					<div class="row d3Card d3-dark-third">
						<div class="col">
							<p th:text="${post.post.article.title}" class="h2">
							<p class="h5">
								By: <span th:text="${post.name}" class="h5">
							</p>
							<hr />
							<p
								th:text="${#strings.abbreviate(post.post.article.content,150)} "></p>
							<a href="article.html"
								th:href=@{/articles/articleNum/edit/{articleId}(articleId=${post.post.article.postId})}
								class="btn btn-sm btn-block btn-warning">Edit Article</a>
						</div>
					</div>
				</th:block>
			</div>

		</div>
		<div class="col-3"></div>

	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous">
		
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
		integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
		crossorigin="anonymous">
		
	</script>
</body>

</html>